* text=auto

*.bat text eol=crlf
*.java text eol=lf
*.json text eol=lf
*.kt text eol=lf
*.kts text eol=lf
*.md text eol=lf
*.pro text eol=lf
*.properties text eol=lf
*.ps1 text eol=crlf
*.xml text eol=lf

*.jar binary
*.jks binary
*.keystore binary
